
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form method="post">
    <div class="form-group">
        <label for="name">Name: </label>
        <input id="name" class="form-control" type="text" name="name" />
    </div>
    <div class="form-group">
        <label for="isImporter">Is importer: </label>
        <input id="isImporter" class="form-control" type="checkbox" name="isImporter" />
    </div>
    <div class="form-group">
        <input type="submit" class="form-control" value="Add" />
    </div>
</form>

