html {
    background-color: #fff;
    font-family: Tahoma, Arial,sans-serif;
    color: #444;
    font-size: 12px;    
    line-height: 14px;    
}

section {
     margin: 2rem auto;
     width: 380px;     
}

form {   
    display: block;
    margin: 1rem 0;
    padding: 1rem 0 0 1rem;   
}

figure img {    
    width: 310px;
}

input[type=text] {
    padding: 0.5rem;    
    border: 1px solid #ccc;   
}

label {
    font-weight: bold;
}

button {   
    vertical-align: middle;
    background-color: transparent;
    border: none;    
    margin: 0;
    cursor: pointer;
}

button:hover img {
    opacity: 0.6;    
    cursor: pointer;
}