@font-face {
    font-family: AnimatedFont;
    src: url("../fonts/Animated.ttf");
}

#container {
    height: 600px;
    width: 900px;
    background: #0067DB;
    background: -o-radial-gradient(30% 20%, farthest-side, #F9F8B7 10%, #F9F8B7 10%, #ffffff 20%, #0067DB);
    background: -webkit-radial-gradient(30% 20%, farthest-side, #F9F8B7 10%, #F9F8B7 10%, #ffffff 20%, #0067DB);
    background: -moz-radial-gradient(30% 20%, farthest-side, #F9F8B7 10%, #F9F8B7 10%, #ffffff 20%, #0067DB);
    background: radial-gradient(30% 20%, farthest-side, #fffda0, #ffffff, #0067DB);
}

#sectionHeader {
    display: inline-block;
    font-family: AnimatedFont;
    color: #FDBC21;
    font-size: 45px;
    margin: 20px 20px;
    float: right;
}

#container > div {
    height: 600px;
    width: 900px;
    background-image: 
        url("../images/TediHula.png"), 
        url("../images/PetiaHula.png"), 
        url("../images/VladoGHula.png"),
        url("../images/AlexHula.png"), 
        url("../images/NakovHula.png"),
        url("../images/VladoKHula.png"), 
        url("../images/HawaiiBackground.png");
    background-repeat: no-repeat;
    background-position: 36% 95%, 29% 88%, 7% 89%, 74% 91%, 60% 81%, 99% 93%;
}