table {
    width: 400px;
    height: 250px;
    border: 1px solid black;
    border-spacing: 0;
}

#header {
    width: 400px;
    height: 65px;
    font-size: 25px;
    font-weight: bold; 
    border-spacing: 0;
    vertical-align:text-top;   
}

#logoCell {
    width: 165px;
    height: 165px;
    padding: 10px;
    border-spacing: 0;
}

#topRight {
    width: 215px;
    height: 75px;
    padding: 0;
    font-size: 18px;
    font-weight: bold; 
    border-spacing: 0;
}

#bottomRight {
    width: 215px;
    height: 110px;
    padding: 0;
    font-size: 18px;
    border-spacing: 0;
    vertical-align:text-top;  
}