@using CarDealer.Models.ViewModels.Parts
@model IEnumerable<AddPartSupplierVm>
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<form method="post">
    <div class="form-group">
        <label for="name">Name: </label>
        <input id="name" type="text" name="name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="price">Price: </label>
        <input id="price" type="number" step="0.1" name="price" class="form-control" />
    </div>
    <div class="form-group">
        <label for="quantity">Quantity: </label>
        <input id="quantity" type="number" name="quantity" class="form-control" />
    </div>
    <div class="form-group">
        <label for="supplier">Supplier: </label>
        <select name="supplierId" id="supplier" class="form-control">
            @foreach (var supplier in Model)
            {
                <option value="@supplier.Id">@supplier.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" />
    </div>
</form>

