@using CarDealer.Models.ViewModels.Parts
@model EditPartVm
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<h3>@Model.Name</h3>
<form method="post">
    <input type="number" hidden="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label for="price">Price: </label>
        <input id="price" type="number" step="0.1" name="price" value="@Model.Price" class="form-control" />
    </div>
    <div class="form-group">
        <label for="quantity">Quantity: </label>
        <input id="quantity" type="number" name="quantity" value="@Model.Quantity" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" />
    </div>
</form>
