@using CarDealer.Models.ViewModels.Customers
@model AboutCustomerVm

@{
    ViewBag.Title = "About customer";
}

<h2>
    @Model.Name
</h2>

<p>
    Bought cars count - @Model.BoughtCarsCount
</p>

<p>
    Total spent money - @Model.TotalSpentMoney
</p>