@{
    ViewBag.Title = "Add";
}

<h2>Add Car</h2>

<form method="post">
    <div class="form-group">
        <label for="make">Make: </label>
        <input type="text" id="make" name="make" class="form-control" />
    </div>
    <div class="form-group">
        <label for="model">Model: </label>
        <input type="text" id="model" name="model" class="form-control" />
    </div>
    <div class="form-group">
        <label for="travelled-distance">Travelled distance: </label>
        <input type="number" id="travelled-distance" name="travelledDistance" class="form-control" />
    </div>
    <div class="form-group">
        <label for="parts">Parts: </label>
        <input type="text" id="parts" name="parts" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-default btn-lg" />
    </div>
</form>

