table, td, tr {
    border: 1px solid black;
}

#firstMainColl {
    height: 165px;
    width: 165px;
    padding: 20px;
}

#secondMainColl {
    height: 210px;
    width: 325px;
    padding: 20px;
}

#firstRow {
    height: 99px;
    width: 305px;
    font-size: 60px;
    padding: 0;
}

#secondRow {
    height: 99px;
    width: 305px;
    font-size: 60px;
    padding: 0;
}